     				-Linux优化
1.查看cpu信息

# 总核数 = 物理CPU个数 X 每颗物理CPU的核数 
# 总逻辑CPU数 = 物理CPU个数 X 每颗物理CPU的核数 X 超线程数


#  cat /proc/cpuinfo |grep "cores"|uniq  查看CPU是几核

#  cat /proc/cpuinfo |grep MHz|uniq  查看CPU的主频

#  cat /proc/cpuinfo| grep "processor"| wc -l   查看逻辑CPU的个数

#  cat /proc/cpuinfo| grep "cpu cores"| uniq   查看每个物理CPU中core的个数(即核数)
 
#  cat /proc/cpuinfo | grep name | cut -f2 -d: | uniq -c  查看CPU信息（型号）

#  cat /proc/cpuinfo| grep "physical id"| sort| uniq| wc -l   查看物理CPU个数




http://blog.csdn.net/gao715108023/article/details/27171371


vi  /etc/sysctl.conf
#原有字段  
net.ipv4.tcp_syncookies = 1  
#新增字段  
fs.file-max = 999999  
net.ipv4.tcp_tw_reuse = 1    
net.ipv4.tcp_fin_timeout = 30  
net.ipv4.tcp_max_tw_buckets = 5000  
net.ipv4.ip_local_port_range = 1024 61000  
net.ipv4.tcp_rmem = 10240 87380 12582912  
net.ipv4.tcp_wmem = 10240 87380 12582912  
net.core.netdev_max_backlog = 8096  
net.core.rmem_default = 6291456  
net.core.wmem_default = 6291456  
net.core.rmem_max = 12582912  
net.core.wmem_max = 12582912  
net.ipv4.tcp_max_syn_backlog = 100000  

然后执行sysctl -p命令，使上述参数生效。



 			     --Tomcat优化配置
节点端口规则
-----------------------------------------
名称         Server      Connector    AJP

Node1        7001        8001        9001
Node2        7002        8002        9002
Node3        7003        8003        9003



1.${tomcat}/bin/catalina.sh 加入
JAVA_OPTS="-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xms1G -Xmx1G -Xss256k -XX:NewSize=1G -XX:MaxNewSize=1G -XX:PermSize=128m -XX:MaxPermSize=128m -XX:+DisableExplicitGC"





2.${tomcat}/conf/server.xml
打开注释掉的
<Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="300" minSpareThreads="50"/>

加Connector 中没有的选项
<Connector port="80" protocol="org.apache.coyote.http11.Http11NioProtocol"
               executor="tomcatThreadPool"
               minSpareThreads="50"
               maxSpareThreads="500"
               enableLookups="false"
               acceptCount="500"
               debug="0"
               connectionTimeout="10000"
               redirectPort="8443"
               compression="on"
               compressableMimeType="text/html,text/xml,text/plain,text/javascript,text/css"
               disableUploadTimeout="true"
               URIEncoding="UTF-8"
               useBodyEncodingForURI="true"
                />


修改  webapps  的映射路经
<Host name="localhost"  appBase="/opt/deploy_nodes/webapps"
            unpackWARs="true" autoDeploy="true">


				---nginx优化配置

1.安装依赖包
# yum -y install zlib zlib-devel openssl openssl--devel pcre pcre-devel  gcc-c++

#user  nobody;
worker_processes  3;
events {
    worker_connections  1024;
    # linux 2.6.+
    multi_accept on;
    use epoll;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    access_log off;
    keepalive_timeout  65;
  
    gzip  on;
    gzip_buffers 32 4K;
    gzip_comp_level  6;
    gzip_min_length 1000;
    gzip_types text/plain  text/css text/xml application/javascript;
    gzip_vary on;   
   
    proxy_cache_path /usr/local/nginx/caches levels=1:2 keys_zone=first:10m max_size=1g;


    upstream tomcat_node{
      ip_hash;
      server 127.0.0.1:8080 weight=10 max_fails=2 fail_timeout=2s;
      server 127.0.0.1:8081 weight=10 max_fails=2 fail_timeout=2s;
      server 127.0.0.1:8082 weight=10 max_fails=2 fail_timeout=2s;
    }    

    server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;
                
        #add_header X-Via $server_addr;
        add_header X-Cache "$upstream_cache_status form $server_addr";
	
        location / {
            proxy_set_header Host $host;  
            proxy_set_header X-Forwarded-For $remote_addr;
            proxy_pass   http://tomcat_node;
	    proxy_connect_timeout 10;
            proxy_redirect default;
	    proxy_cache first;
            proxy_cache_valid 200 1h;
            #root   html;
            #index  index.jsp index.htm;
        }
	
        location ~* /static/\.(gif|jpg|jpeg|png|bmp|swf|js|css|html)$ {
           proxy_pass http://127.0.0.1;
           root  /usr/local/tomcat_deploy/webapps/ROOT/static;
           expires      30d;
        }
	
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }



    }

}



